.data-mapping {
    display: flex;
    width: 100%;
}

.data-mapping .col {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.data-mapping .col .list {
    width: 100%;
}

.data-mapping .col .list ul {
    width: 50%;
}

.data-mapping .col .table {
    display: flex;
}

.data-mapping .col .list select {
    width: 100%;
}

.data-mapping .col .list select + select {
    margin-top: 10px;
}

.col-4 {
    width: 40%;
}

.col-3 {
    width: 30%;
}

.col-2 {
    width: 20%;
}
.field_group .table li {
    padding: 5px 0;
}
.field_group h5 {
    margin: 0;
}

.associate-table li {
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    background: #fff;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
.associate-table li.drag-over {
    border: 1px dotted #000;
    background: #16be16;
}
.file-data {
    width: 100% !important;
}

.file-data li {
    padding: 5px 0;
    cursor: move;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
